<style>
    .headerlink {
        background-color: #555;
        color: white;
        float: none;
        border: none;
        border-style: none;
        outline: none;
        cursor: pointer;
        padding: 16px 16px;
        font-size: 17px;
    }

    .headerlink:hover {
        background-color: #777;
        color: white;
    }

    hr {
        height: 2px !important;
        color: #555 !important;
        background-color: #555 !important;
    }
</style>
<center>
    <p id="linkbar">
        <a class="headerlink" href=https://skuqre.github.io/Hope-Engine"">Home</a>
        <a class="headerlink" href="https://skuqre.github.io/Hope-Engine/building">Building</a>
        <a class="headerlink" href="https://skuqre.github.io/Hope-Engine/credits-and-assets">Credits and Assets used</a>
        <br>&nbsp;
        <hr>
    </p>
</center>
